<div class="container py-5">
  <h2 class="fw-bold mb-4">Booking</h2>

  <!-- LOADING -->
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border"></div>
  </div>

  <!-- DATA -->
  <div *ngIf="!loading && room" class="card p-4 shadow-sm">
    <h4 class="fw-bold">{{ room.roomType }}</h4>
    <p class="text-muted">₹{{ room.pricePerNight }} / night</p>

    <p>
      Adults: {{ room.maxAdults }} |
      Children: {{ room.maxChildren }}
    </p>

    <p>
      Available: {{ room.availableRooms }}
    </p>
  </div>

  <!-- BOOKING FORM -->
    <div *ngIf="!loading && room" class="card p-4 shadow-sm mt-4">

        <h5 class="fw-bold mb-3">Select Dates</h5>

        <div class="row g-3">
            <div class="col-md-6">
            <label class="form-label">Check-In</label>
            <input type="date" class="form-control" [(ngModel)]="checkInDate">
            </div>

            <div class="col-md-6">
            <label class="form-label">Check-Out</label>
            <input type="date" class="form-control" [(ngModel)]="checkOutDate">
            </div>
        </div>

        <button 
            type="button" 
            class="btn btn-success mt-3 w-100"
            (click)="bookNow()"
        >
            Confirm Booking
        </button>
    </div>
</div>