<div class="container py-5">
  <h2 class="fw-bold mb-4">Booking</h2>

  <!-- LOADING -->
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border"></div>
  </div>

  <!-- DATA -->
  <div *ngIf="!loading && room" class="card p-4 shadow-sm">
    <h4 class="fw-bold">{{ room.roomType }}</h4>
    <p class="text-muted">₹{{ room.pricePerNight }} / night</p>

    <p>
      Adults: {{ room.maxAdults }} |
      Children: {{ room.maxChildren }}
    </p>

    <p>
      Available: {{ room.availableRooms }}
    </p>
  </div>

  <!-- BOOKING FORM -->
    <div *ngIf="!loading && room" class="card p-4 shadow-sm mt-4">
        <div class="row g-3 mb-3">

            <div class="col-md-4">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" [(ngModel)]="guestName">
            </div>

            <div class="col-md-4">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" [(ngModel)]="guestEmail">
            </div>

            <div class="col-md-4">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control" [(ngModel)]="guestPhone">
            </div>

            </div>
        <h5 class="fw-bold mb-3">Select Dates</h5>

        <div class="row g-3">
            <div class="col-md-6">
            <label class="form-label">Check-In</label>
            <input type="date"
                    class="form-control"
                    [(ngModel)]="checkInDate"
                    [min]="today"
                    (ngModelChange)="onDateChange()">
            </div>

            <div class="col-md-6">
            <label class="form-label">Check-Out</label>
            <input type="date"
                    class="form-control"
                    [(ngModel)]="checkOutDate"
                    [min]="checkInDate || today"
                    (ngModelChange)="onDateChange()">
            </div>
        </div>

        <div *ngIf="successMessage" class="alert alert-success mt-3">
            {{ successMessage }}
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
        </div>

        <button 
            type="button" 
            class="btn btn-success mt-3 w-100"
            (click)="bookNow()"
        >
            Confirm Booking
        </button>
    </div>

    <!-- SUCCESS MODAL -->
    <div class="modal-overlay" *ngIf="successMessage">
      <div class="modal-box text-center">
       <h4 class="fw-bold mb-3">Success</h4>
        <p>{{ successMessage }}</p>

        <button class="btn btn-success mt-3" (click)="closeSuccess()">
          OK
        </button>
      </div>
    </div>
</div>