<nav class="navbar">

  <div class="logo" routerLink="/">SmartStay</div>

  <div class="links">

    <!-- NOT LOGGED IN -->
    <ng-container *ngIf="!isLoggedIn; else loggedInBlock">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </ng-container>

    <!-- LOGGED IN -->
    <ng-template #loggedInBlock>

      <button (click)="logout()">Logout</button>

      <a routerLink="/profile" class="profile-circle" title="Profile">
        <img *ngIf="profileImageUrl; else initialBlock" [src]="profileImageUrl" alt="Profile">

        <ng-template #initialBlock>
          <span>{{ getUserInitial() }}</span>
        </ng-template>
      </a>

      <a *ngIf="isLoggedIn && auth.getUserRole() === 'Admin'" routerLink="/admin">
        Admin
      </a>

    </ng-template>

  </div>

</nav>

<!-- ROUTES -->
<router-outlet></router-outlet>